#!/bin/bash

echo "${ssh_private_b64}" | base64 -d > ${home_path}/k3s

cat > ${home_path}/config <<EOF
Host *
    User ubuntu
    IdentityFile ~/.ssh/k3s
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
EOF

chown -R ubuntu:ubuntu ${home_path}
chmod 400 ${home_path}/k3s
chmod 600 ${home_path}/config